# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
Thumbs.db

# Repository-local transient state
.tmp/
.venv/
.cache/

# Ansible dependencies and runtime state
.ansible/
*.md5

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.venv

# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains IDEs
.idea/
*.iml
*.iws
out/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Eclipse
.project
.classpath
.csettings/
.settings/
bin/
