---
extends: default
ignore: |
  .git/
  .ansible/
  .cache/galaxy/
  .venv/
  .tmp/
  inventory/**/*.sops.yml
rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: true
    level: error
  indentation:
    level: error
    indent-sequences: consistent
  line-length:
    max: 160
    level: warning
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  trailing-spaces:
    level: error
  truthy:
    check-keys: false
