---
extends: default
ignore: |
  .git/
  .ansible/
  .venv/
  .tmp/
  inventory/frozen/k3s/group_vars/k3s_cluster/vault.yml
  inventory/production/group_vars/pihole/vault.yml
rules:
  document-start:
    present: true
    level: error
  indentation:
    level: error
    indent-sequences: consistent
  line-length:
    max: 160
    level: warning
  trailing-spaces:
    level: error
