{{ {
  'schema': 1,
  'allocation': forgejo_foundation_account,
  'hostname': forgejo_hostname,
  'backend_port': forgejo_backend_port,
  'proxy_source': forgejo_proxy_source,
  'health_timeout_seconds': forgejo_health_timeout_seconds,
  'image': forgejo_image,
  'postgres_image': forgejo_postgres_image,
  'rclone_image': forgejo_rclone_image,
  'rclone_remote': forgejo_rclone_remote
} | to_nice_json }}
